body{
	background-color: #f0f1d5;
}
h1{
	text-align: center;
	text-decoration: underline;
	font-family:Franklin Gothic Medium;
}
h2{
	color: purple;
}
h3{
	margin-left:20px;
	font-family: cursive;
}
h4{
	font-size: 100%;
}
